
.field {
    display: block;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 1em;
}

.button {
    position: relative;
    display: block;
    width: 100%;
    color: black;
    background-color: darkgray;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    z-index: 5;
}

.button:hover, .button:focus {
    background-color: cadetblue;
}

.menu {
    opacity: 0;
    visibility: hidden;
}

.menuOpen {
    opacity: 1;
    visibility: visible;
}
